/* History.css */

.history-delete-button {
  background-color: #4b0082 !important;
  color: #ffffff !important;
  /* Add any other styles you want */
}

.history-clear-button {
  background-color: #4b0082 !important;
  color: #ffffff !important;
  /* Add any other styles you want */
}
