/* History.css */

.history-paper {
  padding: 1rem;
  margin: 0;
  padding: 0;
  display: block;
  align-items: initial;
  text-align: left;
  color: #4b0082;
}

.history-list {
  margin-top: 2rem;
}

.history-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.history-list-item-text {
  flex: 1;
}

.history-delete-button {
  background-color: #4b0082 !important;
  color: #ffffff !important;
}

.history-clear-button {
  background-color: #4b0082 !important;
  color: #ffffff !important;
}

.history-delete-button:hover {
  background-color: #f44336;
  color: white;
}

.history-clear-button:hover {
  background-color: #f44336;
  color: white;
}

.nutrient-summary-paper {
  padding: 1rem;
  background-color: lavender;
  color: #ffffff;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
